.container div {
    border: 1px #ccc solid;
    padding: 10px;
}

.header, .top{
    background-color: #1F2937;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
 .header-item, .topItem, .midTopItem, .midBottomItem, .bottomItem, .footerItem {
    margin-right: 15%;
    margin-left: 15%;
 }
.header img {
    width: auto;
    height: 80px;
}

.top {
    display:flex;
} 

.topItem {

}

.middle-top {
    display:flex;
}

.middle-bottom{
    display:flex;
}

.bottom{
    display:flex;
}
.footer {
    display:flex;
}


