.container div {
    border: 1px #ccc solid;
    padding: 10px;
}

button {
    background: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 7px;
}

#margin {
    margin-right: 15%;
    margin-left: 15%;
}

.header, .top{
    background-color: #1F2937;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: auto;
    height: 80px;
}

.top {
    display:flex;
    align-items: stretch;
} 

.topItem { 
    text-align: left;
}
.imagez {
    width: 400px;
    align-self: center;
    
}
.top h1  {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.top p {
    font-size: 18px;
    color: #e5e7eb;
}

.middle-top {
    display:flex;

} 

.middle-bottom{
    display:flex;

}

.bottom{
    display:flex;

}

.footer {
    display:flex;

}


